<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">


      <div class="col-lg-8 col-lg-offset-2 text-justify">
        <p>Data Scientist and Machine Learning Specialist with a strong background in statistics and experience in innovation, industry, and academia. 
          Team player with leadership skills, strong communication, and an analytical mindset. Fast learner, motivated, organized and proactive. 
          <br><br>Programming proficiency in Python and SQL. More than 8 years of experience with data science and software engineering. 
          Experience with national and multinational groups in several industries, including investment banking, IT Consulting, financial services, education, and outsourcing in projects involving modeling, optimization, and systems design.
        </p>
      </div>

      <!--
      <div class="col-lg-4 col-lg-offset-2">
        <p>Data Scientist and Machine Learning Specialist with a strong background in statistics and experience in innovation, industry, and academia. 
          Team player with leadership skills, strong communication, and an analytical mindset. Fast learner, motivated, organized and proactive. 
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          Programming proficiency in Python and SQL. More than 8 years of experience with data science and software engineering. 
          Experience with national and multinational groups in several industries, including investment banking, IT Consulting, financial services, education, and outsourcing in projects involving modeling, optimization, and systems design.
        </p>
      </div>
      -->

      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Curriculum Vitae
        </a>
      </div>
    </div>
  </div>
</section>
