<!-- About Section -->
<section class="success" id="talks_presentations">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Talks and Presentations</h2>
          <hr class="star-light">
        </div>
      </div>
      <div class="row">
  
  
        <div class="col-lg-8 col-lg-offset-2 text-justify">
          <p>
            <!-- "The Developer's Conference" event page: <a href="https://thedevconf.com/palestrante/alexandre-ray-da-silva">here</a>. -->
            
            <ul style="font-size: 15px;">
                <li><strong style="font-size: 20px;">How to create an object detection project from scratch to deploy?</strong><br>
                  YOLO (You Only Look Once) is an object detection algorithm in videos and images and is famous due to its speed and accuracy. We recently had the release of version 7 of the algorithm, which promises to be even more accurate. In this tutorial we will show how YOLO works in practice through a practical case and what are the latest news on the market. 
                  October 2022, Python Brazil, Manaus - AM, Brazil.
                  <a href="https://github.com/alexandrerays/yolov7_streamlit" style="color: rgb(135, 135, 211);">[code]</a>
                  <a href="https://medium.com/@alexandrerays/como-criar-uma-aplica%C3%A7%C3%A3o-de-reconhecimento-de-objetos-do-zero-usando-o-yolov7-e-o-streamlit-fb49bc40b356" style="color: rgb(135, 135, 211);">[post]</a>
                </li>
                <br>
                
                <li><strong style="font-size: 20px;">Round Table: The challenges of law in the face of predictive algorithms.</strong><br>
                  Description: Introduction for Law students about what Machine Learning is and some challenges that are important for this area. Among them, algorithmic biases, deep fakes, data privacy and applications stand out.
                  November 2021, Universidade Presbiteriana Mackenzie, São Paulo - SP, Brazil.
                  <a href="https://pt.slideshare.net/AlexandreRay1/palestra-os-desafios-do-direito-perante-os-algoritmos-preditivos-09102021" style="color: rgb(135, 135, 211);">[slides]</a>
                </li>
                <br>

                <li><strong style="font-size: 20px;">How data analysis can leverage your company's results.</strong><br>
                  Description: In this panel, we explain how decision-making takes place in companies, we explain the types of data analysis, what is our role within organizations, what kind of problems can be solved using data analysis.
                  Outober 2021, RDHostel, São Paulo - SP, Brazil.
                  <a href="https://rdhostel.com/play/como-analise-de-dados-pode-alavancar-os-resultados-da-sua-empresa/" style="color: rgb(135, 135, 211);">[talk]</a>
                </li>
                <br>


                <li><strong style="font-size: 20px;">Visiting Professor - Introduction to Blockchain for the discipline of Information Systems applied to Management</strong><br>
                  Description: Explanation of basic concepts of Blockchain technology: hash, ledger, public and private key, proof of work and energy consumption.
                  October 2021, Visiting Professor at Mackenzie Presbyterian University, São Paulo - SP, Brazil.
                  <a href="https://www.slideshare.net/AlexandreRay1/palestra-sobre-introduo-ao-blockchain-13102021" style="color: rgb(135, 135, 211);">[slides]</a>
                  <a href="https://www.youtube.com/watch?v=6HBNIFzHgng" style="color: rgb(135, 135, 211);">[talk]</a>
                </li>
                <br>
                

                <li><strong style="font-size: 20px;">Demystifying CNNs with Grad-CAM</strong><br>
                  Description: Interpretability in Deep Learning contributes to increasing confidence and transparency in systems based on these techniques. Especially in safety-critical systems such as autonomous vehicles or unmanned aerial vehicles. In this talk, we will understand how to explain the predictions of convolutional neural networks (CNNs) using Grad-CAM.
                  December 2020, The Developer's Conference, São Paulo - SP, Brazil. 
                </li>
                <br>

                <li><strong style="font-size: 20px;">Visiting Professor - Introduction to Blockchain for the discipline of Information Systems applied to Management</strong><br>
                  Description: Explanation of basic concepts of Blockchain technology: hash, ledger, public and private key, proof of work and energy consumption.
                  October 2020, Visiting Professor at Mackenzie Presbyterian University, São Paulo - SP, Brazil.
                </li>
                <br>
                
                <li><strong style="font-size: 20px;">Machine Learning Canvas: From data collection to value proposition</strong><br>
                  Description: Systems based on Machine Learning are complex. It is common to observe that some models do not solve the problems they should solve and end up not being used in practice. The Machine Learning Canvas aims to gather the main information for Machine Learning projects. In this mini talk, we are going to explore what this path is from collecting data to generating value.
                  November 2019, The Developer's Conference, Porto Alegre - RS, Brazil. 
                  <a href="https://www.slideshare.net/AlexandreRay1/machine-learning-canvas-da-coleta-de-dados-gerao-de-valor" style="color: rgb(135, 135, 211);">[slides]</a>
                </li>
                <br>

                <li><strong style="font-size: 20px;">How to make versioning control of data and machine learning models using DVC?</strong><br>
                  Description: Have you created so many datasets and so many models that you no longer know who is who? Don't remember which version of the model is in production anymore? Another Data Scientist joined the project and she/he can't reproduce the experiments? In this talk, we'll explore how Open Source Data Version Control (DVC) can help solve these problems.
                  November 2019, The Developer's Conference, Porto Alegre - RS, Brazil. 
                  <a href="https://www.slideshare.net/AlexandreRay1/como-fazer-controle-de-verses-de-dados-e-modelos-de-machine-learning-usando-o-dvc" style="color: rgb(135, 135, 211);">[slides]</a>
                </li>
                <br>

                <li><strong style="font-size: 20px;">Market & Data</strong><br>
                  Description: Conversation with students about careers and the main job opportunities in data areas: Data Science, Data Engineer, Analytics and Credit Modeling.
                  August 2019, Feira Mercado 2019 - USP Recruitment and Selection Fair, São Carlos - SP, Brazil.
                </li>
                <br>

                <li><strong style="font-size: 20px;">Trends in the use of artificial intelligence in autonomous vehicles</strong><br>
                  Description: Safety-critical systems have the potential to produce catastrophic consequences for society, such as deaths, injuries, environmental and material damage. In this way, developing and ensuring that critical systems are safe throughout their life cycle is a mission of engineering, science and technology. However, new technologies and paradigms have made security assurance approaches for critical systems obsolete. Among them, the massive and pervasive use of advanced levels of Artificial Intelligence can be highlighted. This lecture will address the state of the art of the application of Artificial Intelligence in safety-critical systems, with emphasis on autonomous vehicles.
                  July 2018, The Developer's Conference, São Paulo - SP, Brazil. 
                  <a href="https://www.slideshare.net/AlexandreRay1/tendncias-do-uso-da-inteligncia-artificial-em-veculos-autnomos" style="color: rgb(135, 135, 211);">[slides]</a>
                </li>
                <br>

                <li><strong style="font-size: 20px;">Fintechs: technology and inovation in financial services</strong><br>
                  Description: The digital age and connectivity have profoundly transformed the way we interact with the world around us. More and more, we need to be aware of the latest technologies so that we can have some kind of advantage, whether to save time, increase productivity or even to save money. In the financial market, Fintechs develop technological innovations aimed at this sector. They attack serious problems that we have in the Brazilian financial system, such as high interest rates on loans, bureaucratization and lack of transparency. This lecture will address the general context of Fintechs and bring a vision of how they are inserted in our daily lives.
                  July 2017, The Developer's Conference, São Paulo - SP, Brazil. 
                  <a href="https://www.slideshare.net/AlexandreRay1/fintechs-tecnologia-e-inovao-em-servios-financeiros" style="color: rgb(135, 135, 211);">[slides]</a>
                </li>
              </ul>
          </p>
        </div>
  
        <!--
        <div class="col-lg-4 col-lg-offset-2">
          <p>Data Scientist and Machine Learning Specialist with a strong background in statistics and experience in innovation, industry, and academia. 
            Team player with leadership skills, strong communication, and an analytical mindset. Fast learner, motivated, organized and proactive. 
          </p>
        </div>
        <div class="col-lg-4">
          <p>
            Programming proficiency in Python and SQL. More than 8 years of experience with data science and software engineering. 
            Experience with national and multinational groups in several industries, including investment banking, IT Consulting, financial services, education, and outsourcing in projects involving modeling, optimization, and systems design.
          </p>
        </div>
        -->
  

      </div>
    </div>
  </section>
  