<!-- About Section -->
<section class="success" id="talks_presentations">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Talks and Presentations</h2>
          <hr class="star-light">
        </div>
      </div>
      <div class="row">
  
  
        <div class="col-lg-8 col-lg-offset-2 text-justify">
          <p>
            <!-- "The Developer's Conference" event page: <a href="https://thedevconf.com/palestrante/alexandre-ray-da-silva">here</a>. -->
            
            <ul style="font-size: 15px;">
                <li><strong style="font-size: 20px;">Como criar um projeto de detecção de objetos do zero ao deploy?</strong><br>
                  O YOLO (You Only Look Once) é um algorítmo de detecção de objetos em vídeos e imagens e é famoso devido à sua velocidade e precisão. Recentemente tivemos o lançamento da versão 6 do algorítmo, que promete ser ainda mais precisa. Neste tutorial vamos mostrar como o YOLO funciona na prática através de um case prático e quais são as últimas novidades do mercado.
                  Outubro de 2022, Python Brasil, Manaus - AM, Brasil.
                  <a href="https://github.com/alexandrerays/yolov7_streamlit" style="color: rgb(135, 135, 211);">[code]</a>
                  <a href="https://medium.com/@alexandrerays/como-criar-uma-aplica%C3%A7%C3%A3o-de-reconhecimento-de-objetos-do-zero-usando-o-yolov7-e-o-streamlit-fb49bc40b356" style="color: rgb(135, 135, 211);">[post]</a>
                </li>
                <br>
                
                <li><strong style="font-size: 20px;">Mesa Redonda: Os desafios do direito perante os algoritmos preditivos.</strong><br>
                  Descrição: Introdução para alunos do curso de direito sobre o que é Machine Learning e alguns desafios que são importantes para esta área. Dentre eles, destacam-se viéses algorítmicos, deep fakes, privacidade dos dados e aplicações.
                  Novembro de 2021, Universidade Presbiteriana Mackenzie, São Paulo - SP, Brasil.
                  <a href="https://pt.slideshare.net/AlexandreRay1/palestra-os-desafios-do-direito-perante-os-algoritmos-preditivos-09102021" style="color: rgb(135, 135, 211);">[slides]</a>
                </li>
                <br>

                <li><strong style="font-size: 20px;">Como análise de dados pode alavancar os resultados da sua empresa.</strong><br>
                  Descrição: Neste painel, nós explicamos como a tomada de decisões ocorre nas empresas, explicamos os tipos de análises de dados, qual é o nosso papel dentro das organizações, que tipo de problemas podem ser resolvidos usando análise de dados.
                  Outubro de 2021, RDHostel, São Paulo - SP, Brasil.
                  <a href="https://rdhostel.com/play/como-analise-de-dados-pode-alavancar-os-resultados-da-sua-empresa/" style="color: rgb(135, 135, 211);">[talk]</a>
                </li>
                <br>


                <li><strong style="font-size: 20px;">Professor convidado - Introdução ao Blockchain para disciplina Sistemas de Informação aplicados à Gestão</strong><br>
                  Descrição: Explicação de conceitos básicos da tecnologia Blockchain: hash, ledger, chave pública e privada, prova de trabalho e consumo de energia.
                  Outubro de 2021, Professor convidado da Universidade Presbiteriana Mackenzie, São Paulo - SP, Brasil.
                  <a href="https://www.slideshare.net/AlexandreRay1/palestra-sobre-introduo-ao-blockchain-13102021" style="color: rgb(135, 135, 211);">[slides]</a>
                  <a href="https://www.youtube.com/watch?v=6HBNIFzHgng" style="color: rgb(135, 135, 211);">[talk]</a>
                </li>
                <br>
                

                <li><strong style="font-size: 20px;">Desmistificando CNNs com Grad-CAM</strong><br>
                  Descrição: Interpretabilidade em Deep Learning contribui para o aumento da confiança e da transparência nos sistemas que se baseiam nessas técnicas. Especialmente em sistemas críticos em segurança (safety-critical systems) como veículos autônomos ou veículos aéreos não tripulados. Nesse talk, vamos entender como explicar as predições de redes neurais convolucionais (CNNs) usando o Grad-CAM.
                  Dezembro de 2020, The Developer's Conference, São Paulo - SP, Brasil. 
                </li>
                <br>

                <li><strong style="font-size: 20px;">Professor convidado - Introdução ao Blockchain para disciplina Sistemas de Informação aplicados à Gestão</strong><br>
                  Descrição: Explicação de conceitos básicos da tecnologia Blockchain: hash, ledger, chave pública e privada, prova de trabalho e consumo de energia.
                  Outubro de 2020, Professor convidado da Universidade Presbiteriana Mackenzie, São Paulo - SP, Brasil.
                </li>
                <br>
                
                <li><strong style="font-size: 20px;">Machine Learning Canvas: From data collection to value proposition</strong><br>
                  Descrição: Sistemas baseados em Machine Learning são complexos. É comum observar que alguns modelos não resolvem os problemas que deveriam resolver e acabam não sendo utilizados na prática. O Machine Learning Canvas visa levantar as informações principais para os projetos de Machine Learning. Neste mini talk, vamos explorar qual é esse caminho desde a coleta dos dados até a geração de valor.
                  Novembro de 2019, The Developer's Conference, Porto Alegre - RS, Brasil. 
                  <a href="https://www.slideshare.net/AlexandreRay1/machine-learning-canvas-da-coleta-de-dados-gerao-de-valor" style="color: rgb(135, 135, 211);">[slides]</a>
                </li>
                <br>

                <li><strong style="font-size: 20px;">How to make versioning control of data and machine learning models using DVC?</strong><br>
                  Descrição: Você já criou tantos datasets e tantos modelos que já não sabe mais quem é quem? Não lembra mais qual versão do modelo está em produção? Entrou mais um Cientista de Dados no projeto e ela/ele não consegue reproduzir os experimentos? Neste talk, iremos explorar como o Open Source Data Version Control (DVC) pode ajudar a resolver esses problemas.
                  Novembro de 2019, The Developer's Conference, Porto Alegre - RS, Brasil. 
                  <a href="https://www.slideshare.net/AlexandreRay1/como-fazer-controle-de-verses-de-dados-e-modelos-de-machine-learning-usando-o-dvc" style="color: rgb(135, 135, 211);">[slides]</a>
                </li>
                <br>

                <li><strong style="font-size: 20px;">Market & Data</strong><br>
                  Descrição: Conversa com estudantes sobre carreira e as principais oportunidades de trabalho nas áreas de dados: Data Science, Data Engineer, Analytics e Modelagem de Crédito.
                  Agosto de 2019, Feira Mercado 2019 - Feira de Recrutamento e Seleção USP, São Carlos - SP, Brasil.
                </li>
                <br>

                <li><strong style="font-size: 20px;">Trends in the use of artificial intelligence in autonomous vehicles</strong><br>
                  Descrição: Sistemas críticos em segurança têm potencial para produzir consequências catastróficas à sociedade, como mortes, ferimentos, danos ambientais e materiais. Desta forma, desenvolver e garantir que os sistemas críticos sejam seguros ao longo do seu ciclo de vida é uma missão da engenharia, ciência e tecnologia. Porém, novas tecnologias e paradigmas vem tornando obsoleta as abordagens de garantia de segurança de sistemas críticos. Entre elas, pode-se destacar o uso massivo e pervasivo de níveis avançados de Inteligência Artificial. Esta palestra abordará o estado da arte da aplicação da Inteligência Artificial em sistemas críticos em segurança, com ênfase em veículos autônomos.
                  Julho de 2018, The Developer's Conference, São Paulo - SP, Brasil. 
                  <a href="https://www.slideshare.net/AlexandreRay1/tendncias-do-uso-da-inteligncia-artificial-em-veculos-autnomos" style="color: rgb(135, 135, 211);">[slides]</a>
                </li>
                <br>

                <li><strong style="font-size: 20px;">Fintechs: technology and inovation in financial services</strong><br>
                  Descrição: A era digital e da conectividade têm transformado profundamente a maneira como interagimos com o mundo ao nosso redor. Cada vez mais, precisamos estar por dentro das recentes tecnologias para que possamos ter algum tipo de vantagem, seja para ganhar tempo, aumentar a produtividade ou até mesmo para economizar dinheiro. No mercado financeiro, as Fintechs desenvolvem inovações tecnológicas voltadas para esse setor. Elas atacam problemas graves que temos no sistema financeiro brasileiro, como altas taxas de juros de empréstimos, burocratização e falta de transparência. Esta palestra abordará o contexto geral das Fintechs e trará uma visão de como elas estão inseridas em nosso cotidiano.
                  Julho de 2017, The Developer's Conference, São Paulo - SP, Brasil. 
                  <a href="https://www.slideshare.net/AlexandreRay1/fintechs-tecnologia-e-inovao-em-servios-financeiros" style="color: rgb(135, 135, 211);">[slides]</a>
                </li>
              </ul>
          </p>
        </div>
  
        <!--
        <div class="col-lg-4 col-lg-offset-2">
          <p>Data Scientist and Machine Learning Specialist with a strong background in statistics and experience in innovation, industry, and academia. 
            Team player with leadership skills, strong communication, and an analytical mindset. Fast learner, motivated, organized and proactive. 
          </p>
        </div>
        <div class="col-lg-4">
          <p>
            Programming proficiency in Python and SQL. More than 8 years of experience with data science and software engineering. 
            Experience with national and multinational groups in several industries, including investment banking, IT Consulting, financial services, education, and outsourcing in projects involving modeling, optimization, and systems design.
          </p>
        </div>
        -->
  

      </div>
    </div>
  </section>
  